<html>
  <head>
    <title>The World</title>
    <link rel="stylesheet" href="view.css" />
    <link rel="stylesheet" href="view.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@1,900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body id="HomeBody">
    <div id="HomeHeader">
      <div class="row">
        <h3 id="HomeHeaderTitle">Where in the world?</h3>
        <div id="HomeHeaderDarkMode" onclick="changeDarkMode()">
          <img />
          <p>Dark Mode</p>
        </div>
      </div>
    </div>
    <div class="ViewRow">
      <img class="ViewFlag" />
      <div class="ViewColumn">
        <h1 class="ViewCountryName"></h1>
        <div class="row">
          <div class="ViewCountryDetails1">
            <div class="row">
              <p class="ViewKey">Naitve Name :</p>
              <p class="ViewCountryNativeName">Value</p>
            </div>
            <div class="row">
              <p class="ViewKey">Population :</p>
              <p class="ViewCountryPopulation">Value</p>
            </div>
            <div class="row">
              <p class="ViewKey">Region :</p>
              <p class="ViewCountryReigon">Value</p>
            </div>
            <div class="row">
              <p class="ViewKey">Sub Reigon :</p>
              <p class="ViewCountrySubReigon">Value</p>
            </div>
            <div class="row">
              <p class="ViewKey">Capital :</p>
              <p class="ViewCountryCapital">Value</p>
            </div>
            <div class="ViewCountryBorders">
              <div class="row">
                <p class="ViewKey">Borders:</p>
                <div class="nameCards"></div>
              </div>
            </div>
          </div>
          <div class="ViewCountryDetails2">
            <div class="row">
              <p class="ViewKey">Top Level Domain :</p>
              <p class="ViewCountryTopLevelDomain">Value</p>
            </div>
            <div class="row">
              <p class="ViewKey">Currencies :</p>
              <p class="ViewCountryCurrencies">Value</p>
            </div>
            <div class="row">
              <p class="ViewKey">Languages :</p>
              <p class="ViewCountryLanguages">Value</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script src="view.js"></script>
</html>
